<p>{{studentName}}</p>


<p>Course: {{courseName}}</p>
<p>Room: {{roomNumber}}</p>

<p> I am {{age}} years old</p>

<ul>
  <li *ngFor="let module of modules">
    {{ module }}
  </li>
</ul>

<button (click)="showMessage()">Click Me</button>

<p>Bill Type: {{ bill.type }}</p>
<p>Amount: €{{ bill.amount }}</p>

<h2>{{ heading }}</h2>
<p>{{ description }}</p>

<h3>House Members</h3>
<ul>
  <li *ngFor="let member of members">
    {{ member }}
  </li>
</ul>

<p>{{ getWelcomeMessage() }}</p>

<h3>Bills</h3>
<ul>
  <li *ngFor="let bill of bills">
    {{ bill }}
  </li>
</ul>
